body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    background-color: #f5f5f5;
}

.en:lang(en), .fr:lang(fr) {
    font-weight: bold;
    border-bottom: 2px solid;
    color: #979faf;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 32px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    z-index: 9999;
}

header div {
    padding: 5px;
    background-color: #626b7f;
}

header div ul {
    margin: 0;
    padding: 0;
}

header div ul.line li {
    display: inline;
}

header div ul li {
    border-radius: 60%;
    list-style: none;
}


header i, header .fa, header img {
    width: 24px;
    height: 24px;
    font-size: 24px;
    border: none;
    margin: 0;
    padding: 0;
}

header i.small {
    font-size: 24px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #979faf;
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
}

header a:focus {
    color: white;
    text-decoration: none;
}

header a:active {
    text-decoration: none;
}

header input {
    float:right;
    clear:both;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin: 0;
    padding: 0;
}

header input[type=text] {
    width: 40%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

header input[type=text]:focus {
    width: 100%;
}

header input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

header input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

header input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

header input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

header img {
    vertical-align: middle;
}

header .logo {
    font-size: 14px;
    text-align: left;
}

header .menu {
    text-align: center;
}

header .social-network {
    text-align: center;
}

header .search {
    text-align: right;
}

header .settings-icon  {
    text-align: right;
}

header .settings  {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 0 !important;
}

header .settings hr {
    color:white;
    background-color:white;
    margin: 0;
    height: 1px;
}

header .settings li {
    margin-top: 1em;
    margin-bottom: 1em;
}

header .lang {
    text-align: right;
}

header .breadcrumb {

}

/* Footer */

footer {
    padding-top: 10px;
    width: 100%;
    color: white;
    background-color: #626b7f;
    text-align: center;
    height: 74px;
    z-index: 9999;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #979faf;
    text-decoration: none;
}

footer ul.line li {
    display: inline;
}

/* Button */

.btn-green, .btn-green:hover {
    color: white;
    border-color: #088837;
    border-bottom-color: #007827;
    background-color: #29b35b;
    background-image: linear-gradient(to bottom, #2ec866, #29b35b);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255,255,255,0.1), inset 0 -1px 4px rgba(32,138,70,0.3);
}

.btn-white, .btn-white:hover {
    background: white;
    border-color: #2ec866;
    color: #2ec866;
}

.header-page-image-home {
    background-image: url('/static/img/header-page/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height:400px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
}

.header-page-image-posts {
    background-image: url('/static/img/header-page/posts.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height:400px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
}

.header-page-image-events {
    background-image: url('/static/img/header-page/events.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height:400px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
}

.slogan {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 90px;
}

/* Languages */

div.language-bash::before  {
    color: #b9bbbc;
    content: url("/static/img/bash.png") " Bash";
}

div.language-java::before  {
    color: #b9bbbc;
    content: url("/static/img/java.png") " Java";
}

div.language-python::before {
    color: #b9bbbc;
    content: url("/static/img/python.png") " Python";
}

div.language-sql::before {
    color: #b9bbbc;
    content: url("/static/img/sql.png") " SQL";
}

div.language-json::before {
    color: #b9bbbc;
    content: url("/static/img/json.png") " JSON";
}

div.language-scala::before {
    color: #b9bbbc;
    content: url("/static/img/scala.png") " Scala";
}

div.language-javascript::before {
    color: #b9bbbc;
    content: url("/static/img/javascript.png") " Javascript";
}

/* Content page */

.content-page {
    min-height: 1000px;
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    color: black;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
}

/* Generality */

ul.no-style {
    list-style-type: none;
}
