<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-10 col-sm-10 col-xs-10 logo">
                <a href="/{{ page.lang }}/">
                    <img src="/static/img/logo-32x32.png">
                    <b> &nbsp;&nbsp; Programming Contest</b>
                </a>
            </div>

            {{ minimal_header }}
            {% unless include.minimal_header %}
            <div class="col-lg-7 visible-lg menu">
                <ul class="line">
                    {% for tab in site.data.menu %}
                        <li><a href="{{ tab.link.[page.lang] }}"><span class="fa {{ tab.icon }}"></span> {{ tab.title.[page.lang] }}</a>&nbsp;&nbsp;</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-2 visible-lg lang">
                {% include lang.html %}
            </div>
            <div class="hidden-lg col-md-2 col-sm-2 col-xs-2 settings-icon settings-js">
                <a href="javascript:">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            {% endunless %}
        </div>
    </div>    
    <div class="settings scroolbar force-overflow" style="display: none;">
        <ul>
            {% for tab in site.data.menu %}
            <hr>
            <li><a href="{{ tab.link.[page.lang] }}"><span class="fa {{ tab.icon }}"></span> {{ tab.title.[page.lang] }}</a></li>
            {% endfor %}
            {% for link in site.data.social %}
            <hr>
            <li><a href="{{ link.link }}" title="{{ link.name }}"><span class="fa {{ link.icon }}"></span> {{ link.name }}</a></li>
            {% endfor %}
            <hr>
            <li>
                {% include lang.html %}
            </li>
            <hr>
        </ul>
    </div>
</header>