<header>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-10 logo">
            <a href="{% if page.lang == 'en' %}/home/{% else %}/{% endif %}">
                <table cellspacing="0">
                    <tbody style="font-size: 1.5em">
                    <tr height="32">
                        <td>&nbsp;&nbsp;<img src="/static/img/logo.png"></td>
                        <td class="small"><b> &nbsp; Programming Contest</b></td>
                    </tr>
                    </tbody>
                </table>
            </a>
        </div>
        <div class="col-lg-4 visible-lg menu">
            <ul class="line">
                {% for tab in site.data.menu %}
                    <li><a href="{{ tab.link.[page.lang] }}"><span class="{{ tab.icon }}"></span> {{ tab.title.[page.lang] }}</a>&nbsp;&nbsp;</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 visible-lg visible-md social-network">
            <ul class="line social-network">
                {% for link in site.data.social %}
                <li><a href="{{ link.link }}" title="{{ link.name }}"><i class="fa {{ link.icon }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-3 visible-lg lang">
            {% include lang.html %}
        </div>
        <div class="col-md-2 col-sm-2 hidden-lg settings-icon settings-js">
            <a href="javascript:">
                <i class="fa fa-bars"></i>&nbsp;&nbsp;
            </a>
        </div>
    </div>
    <div class="settings" style="display: none">
        <ul>
            {% for tab in site.data.menu %}
            <hr>
            <li><a href="{{ tab.link.[page.lang] }}">{{ tab.title.[page.lang] }}</a></li>
            {% endfor %}
            <hr>
            <li>
                <ul class="line">
                {% for link in site.data.social %}
                    <li><a href="{{ link.link }}" title="{{ link.name }}"><i class="fa {{ link.icon }}"></i></a></li>
                {% endfor %}
                </ul>
            </li>
            <hr>
            <li>
                {% include lang.html %}
            </li>
            <hr>
        </ul>
    </div>
</header>